/* Locomotive css */
html.has-scroll-smooth,
.has-scroll-smooth body {
  @apply overflow-hidden;
}

html.has-scroll-dragging {
  @apply select-none;
}

.has-scroll-smooth [data-scroll-container] {
  @apply min-h-screen;
}

[data-scroll-direction='horizontal'] [data-scroll-container] {
  @apply h-screen inline-block whitespace-nowrap;
}

[data-scroll-direction='horizontal'] [data-scroll-section] {
  @apply inline-block align-top whitespace-nowrap h-full;
}

/* My basic locomotive set up */
[data-scroll-section] {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
}

/* Lazyload css */
.lazyload,
.lazyloading {
  @apply opacity-0;
}

.lazyloaded {
  @apply opacity-100 transition-opacity duration-500;
}

/* Color-mode css */
/* html {
  @apply bg-dark text-white;
} */
:root {
  --color: #fdf9f3;
  --color-primary: #fdf9f3;
  --color-secondary: #fdf9f3;
  --bg: #030303;
  --bg-secondary: #06131e;
  --border-color: #fdf9f3;
}

.dark-mode {
  --color: #fdf9f3;
  --color-primary: #fdf9f3;
  --color-secondary: #fdf9f3;
  --bg: #030303;
  --bg-secondary: #06131e;
  --border-color: #fdf9f3;
}
.light-mode {
  --color: #433422;
  --color-primary: #433422;
  --color-secondary: #504231;
  --bg: #f1efd0;
  /* OR : #ffffe3 */
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}

body {
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.5s, color 0.75s;
}
